
@font-face {
  font-family: 'SuperspaceBold';
  src: url('SuperspaceBold.eot?#iefix') format('embedded-opentype'),  url('SuperspaceBold.woff') format('woff'), url('SuperspaceBold.ttf')  format('truetype'), url('SuperspaceBold.svg#SuperspaceBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
