
@font-face {
  font-family: 'SuperspaceLight';
  src: url('SuperspaceLight.eot?#iefix') format('embedded-opentype'),  url('SuperspaceLight.woff') format('woff'), url('SuperspaceLight.ttf')  format('truetype'), url('SuperspaceLight.svg#SuperspaceLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
